<h3>Order Confirmation</h3>

<p>Thanks for ordering from <span class="company">shoos</span>. Please see your order details below:</p>

<p>Name: <%= @shoe.full_name %></p>
<p>Address: <%= @shoe.address %></p>
<p>Order: <%= @shoe.quantity %> x UK <%= @shoe.size %></p>
<p>Total: £<%= @shoe.total %></p>